{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="grid-container">

  <h1 class="text-center">My Blog</h1>

  {% for post in posts %}
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.image_description }}">
    {% endif %}
    <p class="small-text-left">Publied {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}

</div>

{% include "baseapp/pagination.html" %}

{% endblock %}
